public-hoist-pattern[]=*wrtc*
supportedArchitectures.os=current,linux
supportedArchitectures.cpu=current,x64
supportedArchitectures.libc=current,glibc
enabled-scripts=@swc/core,esbuild,sharp,simple-git-hooks,workerd
