supportedArchitectures.os=current,linux
supportedArchitectures.cpu=current,x64
supportedArchitectures.libc=current,glibc
enabled-scripts=esbuild,simple-git-hooks,workerd,node-datachannel,node-pty
only-built-dependencies=node-pty
